!!! 5

%html
  %head
    %meta{ charset: "utf-8" }
    %title Scoreboard
    %link{ rel: "stylesheet", href: "http://cdn.foundation5.zurb.com/foundation.css" }
    %link{ rel: "stylesheet", href: "css/main.css" }

  %body
    .row
      .small-centered.small-12.medium-6.columns
        %h1 Rankings
        %input{ type: "text", placeholder: "name, points"}
        %br
        %button#add.expand Add To Rankings
        %ul#rankings
        %button#clear.expand.disabled Clear Rankings

    %script{ type: "text/javascript", src: "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" }
    %script{ type: "text/javascript", src: "js/main.js" }
